<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Player</th>
      <th>Play Time</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    <% games.each do |game| %>
      <tr>
        <td><%= link_to(game.customer) do %>
          <%= image_tag game.customer.get_profile_image(80,80) %>
          <% end %>
        </td>
        <td><%= link_to game.title,game, class: "game_#{game.id}" %></td>
        <td><%= game.player %></td>
        <td><%= game.play_time %></td>
        <td class="game" value=<%= game.star %>></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
for(let step = 0; step < <%= games.length %>;step++) {
   var element = document.getElementsByClassName('game')[step];
   var options = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
    readOnly:true,
    score:element.getAttribute("value")
    };
    new raty(element, options);
}
</script>