<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-3">Customer info</h2>
      <%= render 'public/customers/info', customer: @game.customer %>
      <h2 class="mt-3">New tweet</h2>
      <%= render 'form', game: @game_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2 class="mt-3">Game detail</h2>
      <h4 class="mt-3"><%= link_to @game.title, @game %></h4>
      <div class="mt-3 mb-3"><%= image_tag @game.get_game_image(500,500) %></div>
      <div class="game" value=<%= @game.star %>></div>
      <div class="mt-3">
        <p><i class="fas fa-users mr-1"></i>プレイ人数：<%= @game.player %></p>
        <p><i class="fas fa-clock mr-1"></i>プレイ時間：<%= @game.play_time %></p>
      </div>
      <table class='table mt-3'>
        <tr>
          <td><%= link_to(@game.customer) do %>
            <%= image_tag @game.customer.get_profile_image(80,80) %><br>
            <%= @game.customer.name %>
            <% end %>
          </td>
          <td><%= @game.body %></td>
          <% if @game.customer == current_customer %>
            <td><%= link_to 'Edit', edit_game_path(@game), class: "btn btn-sm btn-success edit_game_#{@game.id}" %></td>
            <td><%= link_to 'Destroy', @game, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_game_#{@game.id}" %></td>
          <% end %>
        </tr>
      </table>
      <div class="post-comments-index">
        <%= render "public/post_comments/index", game: @game %>
      </div>
      <%= render "public/post_comments/form", game: @game, post_comment: @post_comment %>
    </div>
  </div>
</div>

<%# 以下レビュー機能における星5段階評価機能 %>
<script>
    document.getElementsByClassName('game')[0].innerHTML = ""
    new raty(document.getElementsByClassName('game')[0], {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      readOnly: true,
      score: document.getElementsByClassName('game')[0].getAttribute("value")
    });
</script>