<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-11 col-lg-8 px-5 px-sm-0 mx-auto my-3" >
      <h2>Game detail</h2>
      <table class='table'>
        <tr>
          <td><%= link_to(@game.customer) do %>
            <%= image_tag @game.customer.get_profile_image(80,80) %><br>
            <%= @game.customer.name %>
            <% end %>
          </td>
          <td><%= link_to @game.title, @game %></td>
          <td><%= @game.body %></td>
          <td class="post-comments-counter">
            <%= render "public/post_comments/counter", game: @game %>
          </td>
        </tr>
      </table>
      <div class="post-comments-index">
        <%= render "public/post_comments/index", game: @game %>
      </div>
    </div>
  </div>
</div>