<header>
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
      <div class="navbar-brand p-3" href="/">
        <%= link_to root_path do %>
          <%= image_tag('Toi_Toy_logo.png') %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>
            <%= link_to customer_path(current_customer),class: 'nav-link text-dark' do %>
              <i class="fas fa-chess-rook"></i> home
            <% end %>
          </li>
          <li>
            <%= link_to customers_path,class: 'nav-link text-dark' do %>
              <i class="fas fa-users"></i> customers
            <% end %>
          </li>
          <li>
            <%= link_to games_path ,class: 'nav-link text-dark' do %>
              <i class="fas fa-dice-five"></i> games
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt"></i> log out
            <% end %>
          </li>
        <% elsif admin_signed_in? %>

        <% else %>
          <li>
            <%= link_to root_path,class: 'nav-link text-dark' do %>
              <i class="fas fa-chess-rook"></i> home
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path,class: 'nav-link text-dark' do %>
              <i class="fas fa-user-plus"></i> sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path ,class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-in-alt"></i> log in
            <% end %>
          </li>
          <li>
            <%=  link_to homes_guest_sign_in_path, method: :post ,class: 'nav-link text-dark' do %>
              <i class="fas fa-user-circle"></i> guest log in
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
